a {
    color: #ff69b4;
    text-size-adjust: 110%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

:hover {
    color: #000000;
}

header h1{
    border: ridge 3px #000000;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-left: #ffffff;
    border-right: #ffffff;
    text-align: center;
}

#nav_menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff !important;
    border-top: 3px ridge #000000;
    border-bottom: 3px ridge #000000;
    text-transform: uppercase;
    padding: 1%;
}

#nav_menu li {
    padding-top: 3%;
    padding-bottom: 3%;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    background: linear-gradient(90deg, rgba(170, 170, 170, 0.4) 0%, rgb(255, 255, 255.9) 20%, rgba(255,255,255,.9) 80%, rgb(170, 170, 170, .4) 100%);
}

body p {
    display: flex;
    align-items: center;
}

#product1 {
    max-width: 80%;
    width:800px;
}

#product2 {
    max-width: 80%;
    width: 800px;
}

#product3 {
    max-width: 80%;
    width: 800px;
}

#product4 {
    max-width: 80%;
    width: 800px;
}

#grid_contents a {
    width: 80%;
    display: grid; 
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, auto);
    grid-gap: .5em;
    margin: 1%;   
    grid-template-areas: 
    "product1"
    "product2"
    "product3"
    "product4";
}

.responsive {
    width: 100%;
    max-width: 420px;
    height: auto;
  }

.column {
    width: 100%;
    flex: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.column img {
    width: 49%;
    height: auto;
    float: left;
    margin: .5%;
}

.clearfix::after {
    display: table;
    clear: none;
}


h1 p{
    width: 60%;
}

#mamiya {
    padding-left: 15%;
    padding-right: 15%;
}

#worth {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

#Flare {
    color: #000000;
    font-size: 250%;
    text-transform: uppercase;
}

#Products {
    max-width: 80%;
}

b {
    padding-top: 3%;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer {
    font-style: italic;
    padding-top: 2%;
    padding-bottom: 2%;
    clear: both;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 500px) {
	/* #menu is the original menu */
#nav_menu {
		display:none;
	}
	
.slicknav_menu {
		display:block;
        background-color: #ffffff !important; 
}
.slicknav_menu a {
    color: hotpink !important;
}

.slicknav_menu ul li a{
    text-transform: uppercase !important;
}

}