a {
    color: #ff69b4;
    text-size-adjust: 110%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

:hover {
    color: #000000;
}

/* header */
header h1 {
    border: ridge 3px #000000;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-left: #ffffff;
    border-right: #ffffff;
    text-align: center;
}

#icon {
    float: right;
}

/* nav manu */
#nav_menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    border-top: 3px ridge #000000;
    border-bottom: 3px ridge #000000;
    text-transform: uppercase;
    padding: .7%;
}

#nav_menu li {
    padding-top: 3%;
    padding-bottom: 3%;
}

#nav_menu ul a {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 70%) !important;
}

/* body */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    background: linear-gradient(90deg, rgba(170, 170, 170, 0.4) 0%, rgb(255, 255, 255.9) 20%, rgba(255, 255, 255, .9) 80%, rgb(170, 170, 170, .4) 100%);
}

body p {
    display: flex;
    align-items: center;
}

h1 p {
    width: 60%;
}

/* table on hos.html */
#hos_table {
    max-width: 75%;
    margin-bottom: 1.5em;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: .2em .3em;
    margin: 0em .1em;
    border: 1px solid #000000;   
}

td {
    width: 26%;
}

/* product.html photo grid */

#product1 {
    max-width: 100%;
    width: 800px;
}

#product2 {
    max-width: 100%;
    width: 800px;
}

#product3 {
    max-width: 100%;
    width: 800px;
}

#product4 {
    max-width: 100%;
    width: 800px;
}

#products {
    max-width: 80%;
}

.grid_contents {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-gap: .5em;
    margin: 1%;
    grid-template-areas:
        "product1"
        "product2"
        "product3"
        "product4";
}

.responsive {
    width: 100%;
    max-width: 420px;
    height: auto;
}

/* column on mamiya.html */
.column {
    width: 49%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: .5%;
}

.column img {
    width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    clear: none;
}



#mamiya {
    padding-left: 15%;
    padding-right: 15%;
}

#mamiyaphotos {
    display: flex;
    flex-direction: row;
}

#worth {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

#flare {
    color: #000000;
    font-size: 250%;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 70%) !important;
}

b {
    padding-top: 3%;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer {
    font-style: italic;
    padding-top: 2%;
    padding-bottom: 2%;
    clear: both;
}


/* slicknav */
.slicknav_menu {
    display: none;
}


/* media query */
@media screen and (max-width: 500px) {

    /* #menu is the original menu */
    #nav_menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 70%) !important;
    }

    .slicknav_menu a {
        color: hotpink !important;
    }

    .slicknav_menu ul li a {
        text-transform: uppercase !important;
    }

}