a {
    color: #ff69b4;
}

:hover {
    color: #000000;
}

header h1{
    border: ridge 3px #000000;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-left: #ffffff;
    border-right: #ffffff;
}

h1 p{
    width: 400px;
}

body{
    background: linear-gradient(90deg, rgba(145,145,145,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(145,145,145,1) 100%);
}

#Flare {
    color: #000000;
    font-size: 250%;
    text-transform: uppercase;
}

b {
    padding-top: 25px;
}

ul > li {
    font-style: italic;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer {
    font-style: italic;
    padding-top: 25px;
}